:host {
  --electric-violet: oklch(53.18% 0.28 296.97);
  --vivid-pink: oklch(69.02% 0.277 332.77);
  --orange-red: oklch(63.32% 0.24 31.68);

  --red-to-pink-to-purple-horizontal-gradient: linear-gradient(
    90deg,
    var(--orange-red) 0%,
    var(--vivid-pink) 50%,
    var(--electric-violet) 100%
  );

  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.divider {
  height: 1px;
  width: 100%;
  background: var(--red-to-pink-to-purple-horizontal-gradient);
}